.contenedor-tarea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.list {
  border: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 3px;
}

.btn-delete {
  margin-left: auto;
  border: none;
  background-color: white;
  color: #dc3545;
  font-weight: bold;
  padding: 5px 10px;
  outline: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 10%;
  font-size: 20px;
}

.btn-delete:hover {
  cursor: pointer;
  background-color: white;
  color: #dc3545;
}

.tareas-container {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.action-container {
  align-items: end;
}

.refresh {
  color: black;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}
