:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background-color: #333;
  color: white;
}

.bar {
  font-size: 30px;
  margin-left: 25px;
}

.contenido {
  height: 100px;
}

h2 {
  margin: 0px;
  padding: 0px;
  font-size: 25px;
  margin-left: 275px;
  margin-top: 50px;
}

h4 {
  font-size: 35px;
}

/* Si esto es el contenedor de tarea porque el css esta aca debe ir lo mas prxomi a donde se esta creando */
.contenido-tarea {
  /* display: flex; debes anadir flex */
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
  justify-items: center;
  /* margin-left: 300px; esto ahce que se te tire a la derecha 300px como esta en un contenedor flex y lo quieres
  centrado no lo necesitas */
  padding: 10px;
  border-radius: 10px;
}

.contenido-tarea > span button {
  padding-left: 10px;
  padding-right: 10px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
